<!DOCTYPE html>
<html>
    <head>
        <title>Delete - FaktCheck.org</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <header class="navbar">

        <h1 class="logo"><a href="/">FaktCheck.org</a></h2>
        <a href="/fakts">Fakt List</a>

    </header>
    <body>

        <p>{{fakt|safe}}</p>
        <p>Source: {{source}}</p>

        <form method="POST" action="/del/{{id}}">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Delete">
        </form>

        <p>{{message|safe}}</p>

    </body>
</html>
