<!DOCTYPE html>
<html>
    <head>
        <title>Edit - FaktCheck.org</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <header class="navbar">

        <h1 class="logo"><a href="/">FaktCheck.org</a></h2>
        <div class="flex">
            <form method="GET" action="/search">
                <input type="text" name="q" required>
                <input type="submit" value="Search">
            </form>
            <a href="/fakts">Fakt List</a>
        </div>

    </header>
    <body>

        <p>{{fakt|safe}}</p>
        <p>Keyword: {{keyword}}</p>
        <p>Source: {{source}}</p>

        <form method="POST" action="/edit/{{id}}">
            <label for="fakt">Fakt:</label><br>
            <input type="text" id="fakt" name="fakt" value="{{content}}" required><br>
            <label for="keywoad">Keyword:</label><br>
            <input type="text" id="keyword" name="keyword" value="{{keyword}}" required><br>
            <label for="source">Source:</label><br>
            <input type="text" id="source" name="source" value="{{source}}" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Edit">
        </form>

        <p>{{message|safe}}</p>

    </body>
</html>
