<!DOCTYPE html>
<html>
    <head>
        <title>FaktCheck.org</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <header class="navbar">

        <h1 class="logo"><a href="/">FaktCheck.org</a></h1>
        <div class="flex">
            <form method="GET" action="/search">
                <input type="text" name="q" required>
                <input type="submit" value="Search">
            </form>
            <a href="/fakts">Fakt List</a>
        </div>

    </header>
    <body>

        <p>Home of the real true information.</p>
        <p>Random Fakt:</p>
        <p><a href="/fakt/{{id}}">{{fakt|safe}}</a></p><br>
        <small>You can contact us at <a href="mailto:wewillnotreply@faktcheck.org">wewillnotreply@faktcheck.org</a> (or any other username @faktcheck.org.)</small>

    </body>
</html>

