<!DOCTYPE html>
<html>
    <head>
        <title>FaktCheck.org</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <header class="navbar">

        <h1 class="logo"><a href="/">FaktCheck.org</a></h2>
        <div class="flex">
            <form method="GET" action="/search">
                <input type="text" name="q" required>
                <input type="submit" value="Search">
            </form>
            <a href="/fakts">Fakt List</a>
        </div>

    </header>
    <body>

        <p>Home of the real true information.</p>
        <p>Random Fakt:</p>
        <p><a href="/fakt/{{id}}">{{fakt|safe}}</a></p>

    </body>
</html>
